@import "./common/configs";

@keyframes screen-in{
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes title-in{
    from {
        opacity: 0;
        transform: scale(0.7);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes form-in {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

.divMainWrapper {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: auto;

    background: {
        image: url("/bkg.png");
        size: cover;
        position: center;
        repeat: no-repeat;
        attachment: fixed;
    }
    
    animation-duration: 1s;
    animation-name: screen-in;
}

.main{
    width: 80vw;
    min-width: $min-width;
    height: 70vh;

    display: flex;

    justify-content: space-between;
    align-items: center;

    >section:nth-child(1){
        width: 50%;

        color: white;
        font-size: 50px;
        font-weight: bold;

        line-height: 100px;

        text-align: center;

        animation-duration: 1s;
        animation-name: title-in;
    }
}

.section{
    width: 40%;
    height: fit-content;

    font-size: 25px;

    background-color: white;
    border-radius: 25px;

    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.50);

    transition-duration: 0.7s;

    animation-duration: 1s;
    animation-name: form-in;
}

.sectionSelectTask{
    @extend .section;

    padding: 20px 50px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.divTaskList{
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 10px;

    width: 100%;
    max-height: 60vh;
    overflow: auto;
}

.btnEnterSystem {
    margin-top: 10px;
    height: 3em;
}

.sectionLogin{
    @extend .section;

    font-weight: bold;

    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnLogin{
    height: 3em;
}

.formLogin{
    width: 80%;
}

.spanLoginTitle{
    margin: 15px 0;
}

.spanSelectTaskTitle{
    font-size: 16px;
    margin: 15px 0;
}