@import "./common/configs";

.divBackToWorkspace{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5px;

    color: #eee;

    line-height: normal;

    margin-right: 20px;

    cursor: pointer;

    transition-duration: 200ms;

    &:hover{
        color: white;
    }
}

.iIcon {
    font-size: 25px;
}

.aBackToWorkspace {
    font-size: 10px;
    color: #eee;

    &:hover {
        color: white;
    }
}