@import "./common/configs";

.divMainWrapper{
    width: 100vw;
    min-width: $min-width;
}

.header{
    display: flex;
    align-items: center;
}

.iIcon {
    font-size: 30px;
    margin-right: 20px;
    color: white;
}

.sider {
    background: #fff;
}

.content {
    background: #fff;
}

.dropdownAccount{
    color: white;
    margin-left: auto;
}