@import "./common/configs";

.divMainWrapper{
    width: 100vw;
    min-width: $min-width;
    min-height: 100vh;
}

.header{
    display: flex;
    align-items: center;
}

.iIcon {
    font-size: 30px;
    margin-right: 20px;
    color: white;
}

.sider {
    background: #fff;
    height: calc(100vh - $nav-height);
    width: $sider-width;
}

.menuSider{
    height: 100%;
    border-right: 0;
}

.layoutContent{
    padding: 24px;
}

.content {
    background: #fff;
    padding: 24px;
    max-height: calc(100vh - $nav-height - 48px);
    overflow: auto;
}

.dropdownAccount{
    color: white;
    margin-left: auto;
}

.spanAccountName{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;

    >span:nth-child(2){
        font-size: 13px;
        color: #ccc;
    }
}